@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* header */
header {
    height: 10vh;
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    font-family: 'Noto Serif Khojki', serif;
    background-color:  rgba(32,56,120,255);
}

.checkbtn{
    font-size: 22px;
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 15px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}
ul {
    display: flex;
    justify-content: end;
    margin-right: 2%;

}

ul li {
    list-style-type: none;
    padding: 2%;
    position: relative;
    bottom: 5px;

}

ul li a {
    text-decoration: none;
    font-size: larger;
    color: white;
}

ul li a:hover {
    color: rgb(130, 217, 235);

}

.login {
    font-size: medium;
    padding: 2px 17px;
    height: 102%;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;


}
.login:hover{
    background-color: #61bdff;
}

.logo {
    width: 14%;
    position: relative;
    bottom: 80px;
    left: 46px;
}

/* header */
/* main1 */
.content1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
margin: 1% 5%;
background-color: rgb(41, 50, 114);
padding: 20px ;
color: #ffffff;
border-radius: 6px;

}

/* main1 */

/* main2 */
.main2 {
    height: 175vh;
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    /* background-color: rgba(241, 251, 255, 255); */
    /* background-color: rgba(32,56,120,255); */
}

.bar {
 display: flex;
margin-top: 3%;
}

.sidebar1 {
    width: auto;
    color: rgb(0, 0, 0);
    margin: 0px 25px;
    margin-bottom: 50px;
    height: 155vh;
    background-color: rgb(218, 222, 241);
    border-radius: 10px;
    /* background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833);
 */

 background-color: rgba(241, 251, 255, 255);
}

.sidebar2 {
    border-radius: 10px;
    /* background-color: rgb(218, 222, 241); */
    background-color: rgba(241, 251, 255, 255);
    color: white;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 155vh;
width: auto;
width: 700px;

}

.box1 {
    /* color: rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    line-height: 1.5;

}

.place {
    font-size: larger;
    font-weight: bold;
}
.hide{
    display: none;
}


/* slider */

.containerslider {
    width: 520px;
    overflow: hidden;
    position: relative;
    left: 90px;
    top: 30px;
    border: 2px solid rgb(0, 0, 0);
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: white;
    /* background-color: rgba(32,56,120,255); */
    background-color: rgba(241, 251, 255, 255);
}

.images {
    display: flex;
    height: 350px;


}

.images img {
    height: 350px;
    width: 100%;

}

.images input {
    display: none;
}

.labeldots {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.labeldots label {
    height: 5px;
    width: 5px;
    margin: 7px;
    border-radius: 50%;
    padding: 5px 5px;
    border: 1px double rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.55s ease;

}

.labeldots label:hover {
    background-color: rgb(0, 0, 0);
}

#images1:checked~.groundg1 {
    margin-left: 0%;

}

#images2:checked~.groundg2 {

    margin-left: -100%;

}

#images3:checked~.groundg3 {
    margin-left: -200%;

}

/* slider */
/* box2 */

.box2 {
    width: 700px;
    margin-top: 40px;
    /* border: #00021a 2px solid; */
    color: rgb(4, 10, 15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    align-items: center;
    /* border: #00021a solid 2px; */
    font-size: larger;
}
/* location */
.locationinfo {
    width: 600px;
    /* width: 600px; */
    height: 150px;
    border: 2px solid rgba(255, 255, 255, 0.313);
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    grid-row-gap: 70px;
    
    /* justify-content: space-between; */
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 30px 40px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    line-height: 1.6;
    background-color: rgba(241, 251, 255, 255);
}
.locationinfo p{
    position: relative;
    /* left: 60px; */
}
.locationinfo a{
    position: relative;
    right: 30px;
}

.locationinfo:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.95s;
    transform: scale(1);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 10px 5px rgba(71, 70, 70, 0.546);

}
.fa-location-dot {
    color: rgb(19, 197, 16);
    font-size: larger;
}


.sportsavail {
    /* width: 290px; */
    width: 600px;
    height: 150px;
    /* border: 1px solid rgb(97, 97, 97); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(80, 81, 83, 0.15) 0px 1px 3px 1px;
    line-height: 1.6;
    background-color: rgba(241, 251, 255, 255);


}

.sportsavail:hover {
    background-color: rgb(222, 232, 241);
    transition: 0.95s;
    transform: scale(.99);
    border: 3px solid rgb(255, 255, 255);


}

.sportsicon {
    width: 35px;
    position: relative;
    right: 220px;

}
.timinginfo {
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    text-align: center;
    /* position: relative;
    bottom: 160px; */
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: rgb(0, 0, 0);
    padding: 30px 40px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgba(241, 251, 255, 255);
}

.timinginfo i {
    position: relative;
    left: 50px;
    
}
.timinginfo:hover {
    background-color: rgb(222, 232, 241);
    transition: 0.95s;
    transform: scale(.99);
    border: 3px solid rgb(255, 255, 255);

}
.span2time{
    position: relative;
    right: 90px;
}


.rules {
    width:600px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: rgb(0, 0, 0);
    padding: 20px 25px;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    line-height: 1.6;
    background-color: rgba(241, 251, 255, 255);
    position: relative;
    top: 50px;
    left: 20px;


}
.rules p{
 /* display: inline-block;
    flex-direction: column; */
line-height: 30px;
/* text-align: center; */
 /* width: 300px; */
word-break: break-all;
/* white-space: pre-wrap; */


}

.rules:hover {
    background-color: rgb(222, 232, 241);
    transition: 0.95s;
    transform: scale(.99);
    border: 3px solid rgb(255, 255, 255);

}

.pricelast {
    background-color: rgba(255, 255, 255, 0.906);
    width: 102px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 7px 5px;

    border-radius: 10px;
    color: black;
    border: 2px solid black;

}


.price {
    width: 190px;
    height: 60px;
    /* border: 2px solid black; */
    position: relative;
    left: 190px;

    display: flex;
    justify-content: center;


    background-color: rgba(241, 251, 255, 255);
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border-radius: 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.price:hover {
    background-color: rgb(222, 232, 241);
    transition: 0.95s;
    transform: scale(.99);
    border: 3px solid rgb(255, 255, 255);

}

.pricen {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    position: relative;
    right: 7px;
    top: 15px;
}


.addplayers {
    width: 100%;
    border: 1px solid black;
    background-color: rgba(91, 173, 37, 0.906);
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.edit{
    position: relative;
    left: 1300px;
    bottom: 820px;
    width: 70px;
}




.addplayer {
    width: 590px;

    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    position: relative;
    bottom: 90px;
    left: 70px;
    background-color: rgba(241, 251, 255, 255);
    /* background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b); */
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    border-radius: 4%;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
}

.addplayer:hover {
    background-color: rgb(222, 232, 241);
    transition: 0.95s;
    transform: scale(.99);
    border: 3px solid rgb(255, 255, 255);

}

/* sidebar 2 */
.booking1 {
    /* width: 730px; */
    height: 155vh;
    /* background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833); */
    /* background-color:  rgba(32,56,120,255); */
    background-color: rgba(241, 251, 255, 255);
    border-radius: 15px;

}

.headingbook {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: larger;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #92919136;
    padding: 10px 0px;
}
select{
    margin-top: 10px;
    width: 400px;
    height: 64px;
    /* padding: 10px 20px; */
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
/* .timings {
    width: 400px;
    height: 64px;

    font-size: 20px;
    text-align: center;
    border-radius: 5px;
} */

/* .sportss {
    width: 50%;
    height: 64px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.courtss{
    width: 50%;
    height: 64px;

    font-size: 20px;
    text-align: center;
    border-radius: 5px;

}
.durations {
    width: 50%;
    height: 64px;


    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}
.players {
    width: 50%;
    height: 64px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
} */

input[type="date"] {
    margin-top: 10px;
    width: 400px;
    height: 64px;
    /* padding: 10px 20px; */
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 0.2px rgb(0, 0, 0) solid;
}

.book1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.book2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pay {
    width: 100%;
    height: 64px;
    background-color: rgba(91, 173, 37, 0.906);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 142px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 10px rgb(0, 0, 0);


}
#cash{
    position: relative;
    left: 30px;
}

.paycash {
    /* width: 16%;
    height: 47px; */
    background-color: rgb(5, 120, 105);
    font-size: 24px;
    font-weight: bolder;
color: rgb(255, 255, 255);
    padding: 20px 90px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 3px 10px rgb(0, 0, 0);

}
.pay:hover{
    background-color:#8a98bb;

}
.paycash:hover{
    background-color: #41958a;
}

.cash{
    color: #00021a;
    position: relative;
    left: 30px;

}
.upi{
    color: #00021a;
    position: relative;
    left: 50px;
}
#upi{
    position: relative;
    left: 50px;
}
#wrong{
    color: #00021a;
    position: relative;
    left:330px;
    bottom: 170px;
    cursor: pointer;
}
/* sidebar2 */

/* footer */
footer {
    height: 30vh;
    background-color:  rgba(32,56,120,255);
    /* background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%); */

    background-size: cover;
    color: white;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.foot-heading{
    color: rgb(219, 213, 213);
    font-size: larger;
    font-weight: bold;

}

.column1 {
    margin-top: 2%;
}

p {
    list-style-type: none;


}

p a {
    text-decoration: none;
    font-size: medium;
    color: rgb(219, 213, 213);
    line-height: 1.6;
}

.fa-brands {
    font-size: x-large;
    padding: 1.5%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00acee;

}
.fa-instagram{
    color: rgb(167, 8, 95);
}

.fa-linkedin {
    color: #0A66C2;

}

a {
    text-decoration: none;
}



/* pop up */

#popupdivmessage{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 170px;
    border-radius: 5%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#yesbtn{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#nobtn{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    width: 20px;
    height: 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */
@media screen and (max-width:450px){

    * {
        margin: 0px;
        padding: 0px;
    }
 
    body,html{
        overflow-x: hidden;
    }
    /* header */
    header {
        height: 10vh;
    width: 425px;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        font-family: 'Noto Serif Khojki', serif;
    }
    
    .checkbtn{
        font-size: 22px;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 15px;
        cursor: pointer;
        display: block;
    
    
    }
    #check{
        display: none;
    }
    ul {
        margin-right: 2%;
        position: relative;
        left: -100%;
        width: 70px;
        display: inline-block;
        transition: all 0.5s;
        z-index: 5;
    
    }
    
    ul li {
        list-style-type: none;
        padding: 2%;
        position: relative;
        background-color: #d0dae3;
        top: 50px;
        width: 90px;
        text-align: center;
    
    }
    
    ul li a {
        text-decoration: none;
        font-size: 10px;
      color: #00021a;
    }
    
    ul li a:hover {
        color: rgb(130, 217, 235);
    
    }
    #check:checked ~ul{
        position: relative;
        left: 75%;
       }
    
    .login {
        font-size: 13px;
        padding: 0px 15px;
        height: 102%;
        width: 80%;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    
    
    }
    .login:hover{
        background-color: #61bdff;
    }
    
    .logo {
        width: 37%;
        position: relative;
        bottom: 99px;
        left: 56px;
    }
    
    /* header */
    /* main1 */
    .content1 {
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        position: relative;
        left: 0px;
    
    }
    
    /* main1 */
    
    /* main2 */
    .main2 {
        height: 385vh;
        background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    
    
    }
    
    .bar {
    display: flex;
    justify-content: space-between;
    border: #00021a 2px solid;
    height: 1500px;
    }
    
    .sidebar1 {
        color: white;
        margin: 20px 0px;
        height: 220vh;
        border: #00021a solid 2px;
        background-color: rgb(218, 222, 241);
        border-radius: 2%;
        background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833);
    }
    
    .sidebar2 {
        border-radius: 2%;
        background-color: rgb(218, 222, 241);
        color: white;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        height: 0vh;
    
    
    }
    
    .box1 {
        color: rgb(253, 251, 251);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        line-height: 1.5;
    
    }
    
    .place {
        font-size: larger;
        font-weight: bold;
    }
    
    
    /* slider */
    
    .containerslider {
        width: 350px;
        height: 390px;
        overflow: hidden;
        position: relative;
        left: 30px;
        top: 30px;
        border: 5px solid black;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
    
    }
    
    .images {
        display: flex;
        height: 350px;
    
    
    }
    
    .images img {
        height: 350px;
        width: 100%;
    
    }
    
    .images input {
        display: none;
    }
    
    .labeldots {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
    .labeldots label {
        height: 5px;
        width: 5px;
        margin: 7px;
        border-radius: 50%;
        padding: 5px 5px;
        border: 1px double rgb(234, 229, 229);
        cursor: pointer;
        transition: all 0.55s ease;
    
    }
    
    .labeldots label:hover {
        background-color: rgb(228, 226, 226);
    }
    
    #images1:checked~.groundg1 {
        margin-left: 0%;
    
    }
    
    #images2:checked~.groundg2 {
    
        margin-left: -100%;
    
    }
    
    #images3:checked~.groundg3 {
        margin-left: -200%;
    
    }
    
    /* slider */
    /* box2 */
    
    .box2 {
        border: #00021a solid 2px;
        color: rgb(4, 10, 15);
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        font-size: large;
    }
    /* location */
    .locationinfo {
        font-size: 14px;
        width: 150px;
        height: 178px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 90px;
        top: 20px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 0px 15px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    }
    
    .locationinfo:hover {
        background-color: rgb(255, 255, 255);
        transition: 0.95s;
        transform: scale(1);
        border: 3px solid rgb(255, 255, 255);
        box-shadow: 0 10px 10px rgba(6, 6, 6, 0.73);
    
    }
    .fa-location-dot {
        color: rgb(19, 197, 16);
        font-size: larger;
    }
    
    
    .sportsavail {
        font-size: 15px;
        width: 160px;
        height: 175px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    
    }
    
    .sportsavail:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    
    }
    
    .sportsicon {
        width: 35px;
    
    }
    .timinginfo {
        width: 200px;
    
        border: 2px solid black;
        text-align: center;
    
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 25px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .timinginfo:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    
    
    .rules {
        width: 320px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 25px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    }
    
    .rules:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    .pricelast {
        background-color: rgba(255, 255, 255, 0.906);
        width: 102px;
        height: 30px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 7px 5px;
        border-radius: 10px;
        color: black;
    
    }
    
    
    .price {
        width: 190px;
        height: 60px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 5px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .price:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    .pricen {
        color: rgb(245, 246, 247);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
    }
    
    
    .addplayers {
        width: 100%;
        border: 1px solid black;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(110, 107, 124);
    }
    
    
    
    
    
    
    
    .addplayer {
        width: 290px;
    
        border: 2px solid black;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        position: relative;
        bottom: 90px;
        left: 70px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 20px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .addplayer:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    /* sidebar 2 */
    .booking1 {
        width: 425px;
        height: 170vh;
        position: relative;
        top: 1590px;
        background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833);
    right: 10px;
    }
    
    .headingbook {
        color: rgb(0, 0, 0);
    
        font-weight: bolder;
        font-size: larger;
        width: 50%;
        height: 30px;
    
        border-radius: 5px;
        text-align: center;
        background-color: #92919136;
        padding: 10px 0px;
    }
    
    .timings {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    
    
    }
    
    .sportss {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    
    .durations {
        width: 50%;
        height: 64px;
    
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    .players {
        width: 50%;
        height: 64px;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    
    input[type="date"] {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .book1 {
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .book2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .pay {
        width: 100%;
        height: 44px;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 15px;
        font-weight: bold;
    
        padding: 5px 14px;
    
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    
    
    
    }
    
    .paycash {
        width: 100%;
        height: 44px;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 15px;
        font-weight: bold;
    
        padding: 5px 14px;
    
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    
    }
    .pay:hover{
        background-color: rgb(69, 164, 69);
    
    }
    .paycash:hover{
          background-color: rgb(69, 164, 69);  
    }
    
    /* sidebar2 */
    
    /* footer */
    footer {
        height: 30vh;
    
        background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
    
        background-size: cover;
        color: white;
    
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    
    .foot-heading{
        color: rgb(219, 213, 213);
        font-size: large;
        font-weight: bold;
    
    }
    
    .column1 {
        margin-top: 2%;
    }
    
    p {
        list-style-type: none;
    
    
    }
    
    p a {
        text-decoration: none;
        font-size: 9px;
        color: rgb(219, 213, 213);
        line-height: 1.6;
    }
    
    .fa-brands {
        font-size: smaller;
        padding: 1.5%;
    }
    
    .fa-facebook {
        color: #3b5998;
    }
    
    .fa-twitter {
        color: #00acee;
    
    }
    .fa-instagram{
        color: rgb(167, 8, 95);
    }
    
    .fa-linkedin {
        color: #0A66C2;
    
    }
    
    a {
        text-decoration: none;
    }
    
    /* footer */


}
@media all and (min-width:750px) and (max-width:1024px){
    * {
        margin: 0px;
        padding: 0px;
    }
 
    
    /* header */
    header {
        height: 10vh;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        font-family: 'Noto Serif Khojki', serif;
    }
    
    .checkbtn{
        font-size: 22px;
        color: rgb(255, 255, 255);
        float: right;
        margin-right: 15px;
        cursor: pointer;
        display: block;
    
    
    }
    #check{
        display: none;
    }
    ul {
        margin-right: 2%;
        position: relative;
        left: -100%;
        width: 70px;
        display: inline-block;
        transition: all 0.5s;
        z-index: 5;
    
    }
    
    ul li {
        list-style-type: none;
        padding: 2%;
        position: relative;
        background-color: #d0dae3;
        top: 50px;
        width: 90px;
    
    }
    
    ul li a {
        text-decoration: none;
        font-size: 10px;
      color: #00021a;
    }
    
    ul li a:hover {
        color: rgb(130, 217, 235);
    
    }
    #check:checked ~ul{
        position: relative;
        left: 75%;
       }
    
    .login {
        font-size: medium;
        padding: 2px 17px;
        height: 102%;
        width: 100%;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    
    
    }
    .login:hover{
        background-color: #61bdff;
    }
    
    .logo {
        width: 27%;
        position: relative;
        bottom: 99px;
        left: 156px;
    }
    
    /* header */
    /* main1 */
    .content1 {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        position: relative;
        left: 0px;
    
    }
    
    /* main1 */
    
    /* main2 */
    .main2 {
        height: 385vh;
        background-image: linear-gradient(to right top, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);

    
    }
    
    .bar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 92vh;
    
    }
    
    .sidebar1 {
        color: white;
        margin: 20px 0px;
    
        height: 220vh;
        background-color: rgb(218, 222, 241);
        border-radius: 2%;
        background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833);
    
    
    
    }
    
    .sidebar2 {
        border-radius: 2%;
        background-color: rgb(218, 222, 241);
        color: white;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0vh;
    
    
    }
    
    .box1 {
        color: rgb(253, 251, 251);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        line-height: 1.5;
    
    }
    
    .place {
        font-size: larger;
        font-weight: bold;
    }
    
    
    /* slider */
    
    .containerslider {
        width: 510px;
        height: 410px;
        overflow: hidden;
        position: relative;
        left: 120px;
        top: 30px;
        border: 5px solid black;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
    
    }
    
    .images {
        display: flex;
        height: 350px;
    
    
    }
    
    .images img {
        height: 350px;
        width: 100%;
    
    }
    
    .images input {
        display: none;
    }
    
    .labeldots {
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    
    .labeldots label {
        height: 5px;
        width: 5px;
        margin: 7px;
        border-radius: 50%;
        padding: 5px 5px;
        border: 1px double rgb(234, 229, 229);
        cursor: pointer;
        transition: all 0.55s ease;
    
    }
    
    .labeldots label:hover {
        background-color: rgb(228, 226, 226);
    }
    
    #images1:checked~.groundg1 {
        margin-left: 0%;
    
    }
    
    #images2:checked~.groundg2 {
    
        margin-left: -100%;
    
    }
    
    #images3:checked~.groundg3 {
        margin-left: -200%;
    
    }
    
    /* slider */
    /* box2 */
    
    .box2 {
        color: rgb(4, 10, 15);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
    }
    /* location */
    .locationinfo {
        font-size: 14px;
        width: 150px;
        height: 178px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 90px;
        top: 20px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 0px 15px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    }
    
    .locationinfo:hover {
        background-color: rgb(255, 255, 255);
        transition: 0.95s;
        transform: scale(1);
        border: 3px solid rgb(255, 255, 255);
        box-shadow: 0 10px 10px rgba(6, 6, 6, 0.73);
    
    }
    .fa-location-dot {
        color: rgb(19, 197, 16);
        font-size: larger;
    }
    
    
    .sportsavail {
        font-size: 15px;
        width: 160px;
        height: 175px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 98px;
        bottom: 180px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    
    }
    
    .sportsavail:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    
    }
    
    .sportsicon {
        width: 35px;
    
    }
    .timinginfo {
        width: 200px;
    
        border: 2px solid black;
        text-align: center;
        position: relative;
        bottom: 160px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 25px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .timinginfo:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    
    
    .rules {
        width: 320px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        position: relative;
        bottom: 150px;
        left: 195px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 25px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    }
    
    .rules:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    .pricelast {
        background-color: rgba(255, 255, 255, 0.906);
        width: 102px;
        height: 30px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 7px 5px;
        position: relative;
        left: 7px;
        top: 7px;
        border-radius: 10px;
        color: black;
    
    }
    
    
    .price {
        width: 190px;
        height: 60px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 120px;
        left: 255px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 5px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .price:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    .pricen {
        color: rgb(245, 246, 247);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        position: relative;
        right: 7px;
        top: 15px;
    }
    
    
    .addplayers {
        width: 100%;
        border: 1px solid black;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 17px;
        display: flex;
        justify-content: center;
        padding: 10px 30px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(110, 107, 124);
    }
    
    
    
    
    
    
    
    .addplayer {
        width: 290px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        position: relative;
        bottom: 90px;
        left: 210px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 20px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
    
    .addplayer:hover {
        background-color: rgb(222, 232, 241);
        transition: 0.95s;
        transform: scale(.99);
        border: 3px solid rgb(255, 255, 255);
    
    }
    
    /* sidebar 2 */
    .booking1 {
     
        height: 150vh;
        position: relative;
        top: 1690px;
        background-image: linear-gradient(to top, #d5d7ea, #ffffff, #ffffff, #ffffff, #000833);
    right: 10px;
    }
    
    .headingbook {
        color: rgb(0, 0, 0);
    
        font-weight: bolder;
        font-size: larger;
        width: 50%;
        height: 30px;
    
        border-radius: 5px;
        text-align: center;
        background-color: #92919136;
        padding: 10px 0px;
    }
    
    .timings {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    
    
    }
    
    .sportss {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    
    .durations {
        width: 50%;
        height: 64px;
    
    
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    .players {
        width: 50%;
        height: 64px;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
    }
    
    input[type="date"] {
        width: 50%;
        height: 64px;
    
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    .book1 {
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .book2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .pay {
        width: 100%;
        height: 44px;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 15px;
        font-weight: bold;
    
        padding: 5px 14px;
    
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    
    
    
    }
    
    .paycash {
        width: 100%;
        height: 44px;
        background-color: rgba(91, 173, 37, 0.906);
        font-size: 15px;
        font-weight: bold;
    
        padding: 5px 14px;
    
        cursor: pointer;
        border-radius: 10px;
        border: none;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    
    }
    .pay:hover{
        background-color: rgb(69, 164, 69);
    
    }
    .paycash:hover{
          background-color: rgb(69, 164, 69);  
    }
    
    /* sidebar2 */
    
    /* footer */
    footer {
        height: 30vh;
    
        background: linear-gradient(90deg, rgb(10, 9, 20) 4%, rgb(16, 18, 19) 100%);
    
        background-size: cover;
        color: white;
    
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    
    .foot-heading{
        color: rgb(219, 213, 213);
        font-size: large;
        font-weight: bold;
    
    }
    
    .column1 {
        margin-top: 2%;
    }
    
    p {
        list-style-type: none;
    
    
    }
    
    p a {
        text-decoration: none;
        font-size: 9px;
        color: rgb(219, 213, 213);
        line-height: 1.6;
    }
    
    .fa-brands {
        font-size: smaller;
        padding: 1.5%;
    }
    
    .fa-facebook {
        color: #3b5998;
    }
    
    .fa-twitter {
        color: #00acee;
    
    }
    .fa-instagram{
        color: rgb(167, 8, 95);
    }
    
    .fa-linkedin {
        color: #0A66C2;
    
    }
    
    a {
        text-decoration: none;
    }
    
    /* footer */



}
@media all and (min-width:1024px) and (max-width:1200px){
    .containerslider {
        width: 510px;
        height: 410px;
        overflow: hidden;
        position: relative;
        left: 250px;
        top: 30px;
        border: 5px solid black;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
    
    }
    .rules {
        width: 320px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        position: relative;
        bottom: 150px;
        left: 335px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 25px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
        line-height: 1.6;
    
    }
      
    .price {
        width: 190px;
        height: 60px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 120px;
        left: 395px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 5px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
        
    
    .addplayer {
        width: 290px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        position: relative;
        bottom: 90px;
        left: 360px;
        background-image: linear-gradient(to right top, #00021a, #00080c, #041d36, #07172c, #04020b);
        color: white;
        padding: 20px 10px;
        border-radius: 4%;
        box-shadow: 0 3px 10px rgb(0, 0, 0);
    }
       
    .logo {
        width: 24%;
        position: relative;
        bottom: 99px;
        left: 256px;
    }
}